# Customer Analysis

## Setting up the environment

In [7]:
# Importing required libraries for data loading, inspection and initial cleaning.

import pandas as pd # data manipulation and analysis
import numpy as np # numerical operations
import matplotlib.pyplot as plt # data visualization
import seaborn as sns # statistical data visualization

In [10]:
# Importing dataset

raw_path = "data/multi-dimensional-contact-segme.csv"

df = pd.read_csv(raw_path) # Inspecting the dataset
df.head() # Displays the first few rows of the dataset
# https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html

,Full Name,Create Date,Email,Industry,Website URL,Country/Region,Annual Revenue,Lifecycle Stage,Original Source,Original Source Drill-Down 1,Deal Stage,Closed amount
0,Darren Lindsay,21/10/2022 11:06,darren@agmchilleddistribution.co.uk,Logistics,agmchilleddistribution.co.uk,United Kingdom,(No value),Opportunity,Paid Search,cold stores uk,(No value),(No value)
1,Grady Broadhurst,18/10/2022 10:58,gradyb@hotmail.co.uk,(No value),(No value),United Kingdom,(No value),Lead,Paid Search,blast freezer uk,(No value),(No value)
2,Graham hall,17/10/2022 14:09,info@hallsofhazlemere.com,(No value),hallsofhazlemere.com,England,(No value),Lead,Paid Search,refrigerated containers,(No value),(No value)
3,Kate Sampson,25/10/2022 15:09,kate@copas.co.uk,Meat,copas.co.uk,(No value),10000000,Lead,Direct Traffic,www.crscoldstorage.co.uk/refrigeration/refrige...,(No value),(No value)
4,martin rowland,26/10/2022 09:18,martinrowland30@gmail.com,Hospitality,(No value),United Kingdom,(No value),Customer,Paid Search,cold stores uk,Closed Won (Salesforce - Opportunity),9320

## Managing missing values

In [11]:
# Inspecting missing values

df.info() # Shows column names, non-null counts, and inferred data types.
# Reference: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html

df.isna().sum() # Counts true missing values (NaN) in each column.
# Reference: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isna.html

np.sum(df == "(No value)") # Counts custom missing value indicators in each column.
# Reference: https://numpy.org/doc/stable/reference/generated/numpy.sum.html

np.sum(df == "(No value)", axis=0) # Counts custom missing value indicators.
# Using `axis=0 to sum over rows for each column.
# Reference: https://numpy.org/doc/stable/reference/generated/numpy.sum.html

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72198 entries, 0 to 72197
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Full Name                     72198 non-null  object
 1   Create Date                   72198 non-null  object
 2   Email                         72198 non-null  object
 3   Industry                      72198 non-null  object
 4   Website URL                   72198 non-null  object
 5   Country/Region                72187 non-null  object
 6   Annual Revenue                72198 non-null  object
 7   Lifecycle Stage               72198 non-null  object
 8   Original Source               72198 non-null  object
 9   Original Source Drill-Down 1  72198 non-null  object
 10  Deal Stage                    72198 non-null  object
 11  Closed amount                 72198 non-null  object
dtypes: object(12)
memory usage: 6.6+ MB

c:\Users\TihanaGray\anaconda3\envs\tf\lib\site-packages\numpy\_core\fromnumeric.py:84: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

Full Name                       72192
Create Date                         0
Email                              11
Industry                        18103
Website URL                     22306
Country/Region                   9913
Annual Revenue                  35597
Lifecycle Stage                  7214
Original Source                     0
Original Source Drill-Down 1        0
Deal Stage                      68058
Closed amount                   68060
dtype: int64